/* General styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    margin: 50px auto;
    padding: 30px;
    max-width: 1000px; /* Adjust the max-width as needed */
    background: #f0f2f5;
    border-radius: 20px;
    box-shadow: inset 6px 6px 10px #d1d9e6, inset -6px -6px 10px #ffffff;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f0f2f5;
    box-shadow: inset 4px 4px 6px #d1d9e6, inset -4px -4px 6px #ffffff;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #58a6ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #ffffff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #4c8cf5;
}

.table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #ffffff;
}

.table th,
.table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d1d9e6;
}

.table th {
    background-color: #f0f2f5;
}

.table tbody tr:nth-child(even) {
    background-color: #f6f8fa;
}

.modal-content {
    background-color: #f0f2f5;
    border-radius: 20px;
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #ffffff;
}

.modal-header,
.modal-footer {
    border-bottom: none;
}

.btn-secondary {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ced4da;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #ffffff;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #b1bbc7;
}

/* Edit and delete buttons */

.actions {
    display: flex;
    width: fit-content;
}

.actions button {
    flex-grow: 1;
    margin-right: 10px;
}

.actionsButton{
    width: 4rem;
    padding: 5px;
    margin: 0;
    border-radius: 8%;
    box-shadow: none;
}
th{
    width: 25%;
}
/* Media query for responsiveness */

@media screen and (max-width: 600px) {
    .actions {
        flex-direction: column;
    }

    .actions button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
