/* ==================MIDDLE================== */
.middle .stories {
	display: flex;
	justify-content: space-between;
	height: 12rem;
	gap: 0.5rem;
}

.middle .stories .story {
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 0.75rem;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.middle .stories .story .name {
	z-index: 2;
}

.middle .stories .story .profile-photo {
	width: 2rem;
	height: 2rem;
	align-self: start;
	border: 3px solid var(--color-primary);
}

.middle .stories .story:before {
	content: "";
	display: block;
	width: 100%;
	height: 5rem;
	position: absolute;
	bottom: 0;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
}

.middle .stories .story:nth-child(1) {
	background: url(../images/story-1.jpg) no-repeat center center/cover;
}
.middle .stories .story:nth-child(2) {
	background: url(../images/story-2.jpg) no-repeat center center/cover;
}
.middle .stories .story:nth-child(3) {
	background: url(../images/story-3.jpg) no-repeat center center/cover;
}
.middle .stories .story:nth-child(4) {
	background: url(../images/story-4.jpg) no-repeat center center/cover;
}
.middle .stories .story:nth-child(5) {
	background: url(../images/story-5.jpg) no-repeat center center/cover;
}
.middle .stories .story:nth-child(6) {
	background: url(../images/story-6.jpg) no-repeat center center/cover;
}

/* ---------------------CREATE POST------------------- */
.middle .create-post {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	background: var(--color-white);
	border-radius: var(--border-radius);
}

.middle .create-post .img-thumbnail {
	border-radius: var(--border-radius);
}

.middle .create-post .img-thumbnail .img-wrapper {
	display: grid;
	grid-template-columns: auto auto;
	padding: var(--card-padding);
	padding-top: 0;
}

.middle .create-post .img-wrapper img {
	border-radius: 0.6rem;
}

.middle .create-post .img-wrapper div {
	position: relative;
	margin: 0.5rem;
}

.middle .create-post .img-wrapper span {
	position: absolute;
	top: 0.4rem;
	right: 0.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	color: white;
	background: var(--color-gray);
	border-radius: 50%;
	cursor: pointer;
}

.middle .input-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem var(--card-padding);
	background: var(--color-white);
	border-radius: var(--border-radius);
}

.middle .input-container input[type="text"] {
	justify-self: start;
	width: 100%;
	height: 2rem;
	padding-left: 1rem;
	margin-right: 1rem;
	background: transparent;
	color: var(--color-dark);
}

.middle .input-container input[type="file"] {
	display: none;
}

.middle .input-container label.add-image {
	margin-right: 0.7rem;
	font-size: 1.4rem;
	cursor: pointer;
}

.middle .input-container label.add-image:hover {
	color: var(--color-primary);
}

/* ---------------------FEEDS------------------- */
.middle .feeds .feed {
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	margin: 1rem 0;
	font-size: 0.85rem;
	line-height: 1.5rem;
}

.middle .feed .head {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.middle .feed .head .user {
	display: flex;
	align-items: start;
	gap: 1rem;
}

.middle .feed .caption {
	padding: 0 1rem;
	font-size: 0.9rem;
}

.middle .feed .hash-tag {
	color: var(--color-primary);
	cursor: pointer;
}

.middle .feed .hash-tag:hover {
	text-decoration: underline;
}

.middle .feed .photo {
	margin-top: 0.3rem;
	margin-bottom: 0.7rem;
	border-radius: var(--card-border-radius);
	overflow: hidden;
}

.middle .feed .photo img {
	border-radius: var(--card-border-radius);
	object-fit: cover;
}

.middle .feed .action-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
	margin: 0.6rem;
}

.middle .feed .action-buttons > div {
	display: flex;
	gap: 0.4rem;
}

.middle .feed .like img {
	width: 1.5rem;
	height: 1.5rem;
}

.middle .feed .liked-by {
	display: flex;
}

.middle .feed .liked-by span {
	width: 1.4rem;
	height: 1.4rem;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid var(--color-white);
	margin-left: -0.6rem;
}

.middle .feed .liked-by span:first-child {
	margin: 0;
}

.middle .feed .liked-by p {
	margin-left: 0.5rem;
}

.middle .feed .action-buttons span,
.middle .feed .show-comments {
	cursor: pointer;
}

.middle .feed .action-buttons span:hover,
.middle .feed .show-comments:hover {
	color: var(--color-primary);
}
